*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    position: relative;
}
.lowerSection .middleImg{
    position: absolute;
    top: 47vh;
    left: 36vw;
    rotate: 12deg;
    scale: 1;
}
.lowerSection .rightImg{
    position: absolute;
    right: 10vw;
    top: 15vh;
    rotate: -12deg;
    scale: 1.2;
}

.SingleCard{
    flex-shrink: 0;
    
}
.BestSellerCards{
    scrollbar-width: none;
}
.trustBanner{
    display: flex;
    background-color: #F2EFEB;
    width: 100%;
    margin-top: 10vmax;
    color: #A6603A;
    }
.left_trustBanner{
    width: 45%;
    font-size: 4vw;
    font-weight: 700;
    padding-top: 4.2vw;
    padding-left: 8vw;
    padding-right: 6vw;
}
.right_trustBanner{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-top: 2vw;
    gap: 1vh;

}
.rtB1{
    display: flex;
    gap: 4vw;
    padding: 1vmax;
}
.rtB1 img{
    height:13vmax;
    width: 13vmax;
    object-fit: cover;
}
.rtB2{
    display: flex;
    gap: 4vw;
    padding: 1vmax;
}
.rtB2 img{
    height:13vmax;
    width: 13vmax;
    object-fit: cover;
}
.rtB3{
    display: flex;
    gap: 4vw;
    padding: 1vmax;
}
.rtB3 img{
    height:13vmax;
    width: 13vmax;
    object-fit: cover;
}
.rtB_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}
.rtB_text h3{
    font-weight: 500;
    font-size: 1.7vw;
}
.rtB_text p{
    font-weight: 400;
    font-size: 1.3vw;
    padding-right: 6vw;
}
.otherProducts{
    width: 100%;
    height: 47vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 0vw;

}
.heading_oP h1{
    color:#1025A1;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 6vmax;
}
.prod_categories{
    display: flex;
    gap: 3vw;
    
}
.cate_1{
    color:#1025A1 ;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    gap: 0.75vw;
}
.cate_1 img{
    height: 14vmax;
    width: 14vmax;
}
.bestSellers{
    position: relative;
    
}
.arrows #scrollLeftButton{
    position: absolute;
    top: 50vh;
    left: 5vw;
    border-radius: 50%;
}
.arrows #scrollRightButton{
    position: absolute;
    top: 50vh;
    right: 5vw;
    border-radius: 50%;
}

@media (max-width:600px) {
    .head-Bar{
        margin-top: 2vh;
    }
    .bar h1{
        font-size: 3.5vw ;
    }
    nav a{
        display: none;
    }
    nav .hidden{
        display: initial;
        padding: 3vw 2vw;
        
    }
    .logo{
        position: absolute;
        top: 2vw;
    }
    .lowerSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lowerSection .leftText{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .lowerSection .leftText .expert{
        font-size: 10vw;
    }
    .justLaunched{
        font-size: 3vw;
        width: 80vw;
        padding: 2vw 1vw;
    }
    .box{
        height: 80vh;
    }
    .trusted{
        font-size: 5vw;
    }
    .shark{
        width: 80vw;
    }
    .imageBox .rightImg{
        position: absolute;
        top: 60vh;
        scale: 1.8;
    }
    .imageBox .middleImg{
        position: absolute;
        top: 70vh;
        left: 10vw;
        scale: 2;
    }
    .hairProducts .enjoy{
        margin-top: 5vh;
        font-size: 7vw;
    }
    .hairProducts .cards{
        margin-top: 3vh;
        display: flex;
        flex-wrap: wrap;
    }
    .hairProducts .cards .card h1{
        font-size: 4vw;
    }
    .main{
        overflow-x: hidden;
    }
    .trustBanner{
        display: flex;
        flex-direction: column;
        padding-bottom: 10vh;
    }
    .trustBanner .left_trustBanner p{
        width: 100vw;
        font-size: 5vw;
    }
    .trustBanner .right_trustBanner{
        gap: 5vh;
    }
    .trustBanner h3{
        width: 50vw;
        font-size: 5vw;
    }
    .rtB_text p{
        font-size: 2.5vw;
    }
    .bestSellers .title{
        font-size: 10vw;
        margin-top: 5vh;
    }
    .bestSellers .BestSellerCards{
        display: flex;
        margin-top: 3vh;
    }
    .bestSellers .BestSellerCards .SingleCard{
        width: 50vw;
        height: 50vh;
        padding: 2vw;
    }
    .bestSellers .arrows{
        display: none;
    }
    .bestSellers .hidden{
        display: initial;
        display: flex;
        justify-content: center;
    }
    .SingleCard h1{
        font-size: 4vw;
    }
}
