*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    position: relative;
}
.lowerSection .middleImg{
    position: absolute;
    top: 47vh;
    left: 36vw;
    rotate: 12deg;
    scale: 1.2;
}
.lowerSection .rightImg{
    position: absolute;
    right: 10vw;
    top: 25vh;
    rotate: -12deg;
    scale: 1.6;
}
.trustBanner{
    display: flex;
    background-color: #F2EFEB;
    width: 100%;
    height: 50vmax;
    margin-top: 10vmax;
    color: #A6603A;
    }
.left_trustBanner{
    width: 45%;
    font-size: 4vw;
    font-weight: 700;
    padding-top: 4.2vw;
    padding-left: 8vw;
    padding-right: 6vw;
}
.right_trustBanner{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
    padding-top: 2vw;
    gap: 1vh;

}
.rtB1{
    display: flex;
    gap: 4vw;
    padding: 1vmax;
}
.rtB1 img{
    height:13vmax;
    width: 13vmax;
    object-fit: cover;
}
.rtB2{
    display: flex;
    gap: 4vw;
    padding: 1vmax;
}
.rtB2 img{
    height:13vmax;
    width: 13vmax;
    object-fit: cover;
}
.rtB3{
    display: flex;
    gap: 4vw;
    padding: 1vmax;
}
.rtB3 img{
    height:13vmax;
    width: 13vmax;
    object-fit: cover;
}
.rtB_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
}
.rtB_text h3{
    font-weight: 500;
    font-size: 1.7vw;
}
.rtB_text p{
    font-weight: 400;
    font-size: 1.3vw;
    padding-right: 6vw;
}
.otherProducts{
    width: 100%;
    height: 47vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw 0vw;

}
.heading_oP h1{
    color:#1025A1;
    font-size: 4vw;
    font-weight: 600;
    margin-bottom: 6vmax;
}
.prod_categories{
    display: flex;
    gap: 3vw;
    
}
.cate_1{
    color:#1025A1 ;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    gap: 0.75vw;
}
.cate_1 img{
    height: 14vmax;
    width: 14vmax;
}
.founderStory{
    margin-left: 4vmax;
    margin-right: 4vmax;
    margin-top: 5vmax;
    margin-bottom: 10vmax;
    width: 92%;
    border-radius: 20px;
    height: 46vmax;
    background-color: #F2EFEB; 
    padding: 3vw 4vw;
    display: flex;
}
.fS_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.fS_left h1{
    margin-top: 1.5vw;
    font-size: 4vw;
    font-weight: 700;
    color: #1025A1;
}
.fS_left p{
    font-size: 2vw;
    font-weight: 500;
    padding: 1vw 4vw;    
    text-align: center;
}
.fS_left button{
    font-size: 2.2vw;
    font-weight: 600;
    padding: 0.3vw 1.5vw;   
    background-color: white; 
    border-radius: 30px;
    margin-top: 2vw;
    color: #1025A1;
}
.fS_right{
    width: 50%;
    height: 100%;
}
.fS_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.reviews{
    margin-left: 4vmax;
    margin-right: 4vmax;
    margin-top: 5vmax;
    margin-bottom: 10vmax;
    width: 92%;
    border-radius: 20px;
    height: 40vmax;
    background-color: #F2EFEB; 
    padding: 3vw 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rev_headings{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2.5vw;
}
.rev_headings h1{
    font-size: 3vw;
    font-weight: 700;
    color: #1025A1;
}
.rev_container{
    display: flex;
    width: 100%;
    height: 26.5vmax;
    gap: 2vw;
    justify-content: center;
  
}

.rev_cont_card{
    display: flex;
    width: 26%;
    flex-direction: column;
    background-color: #A6603A;
    padding: 0.9vw 1vw;
    color: white;
    border-radius: 30px;
}

.card_texts{
    display: flex;
    font-size: 1vw;
}
.card_texts p{
    font-size: 1vw;
    padding: 1vh 0vh;
}
.rev_cont_card img{
    height: 12vmax;
    width: 22vmax;
    object-fit: cover;
    border-radius: 27px;
}
.card_texts img{
    margin-top: 2vw;
    height:8vmax;
    width: 7vmax;
    object-fit: cover;
}
#rev_card2{
    scale: 1;
    z-index: 3;
}
#rev_card1{
    scale: 0.9;
    z-index: 1;
}
#rev_card3{
    scale: 0.9;
    z-index: 2;
}


